.LoginPage {
  background-color: var(--secundary-dark);
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  justify-content: center;
}

.LoginPage h1 {
  font-family: var(--primary-font) ;
  color: var(--primary-light)
}

.LoginPage h2 {
  font-family: var(--primary-font);
  color: var(--primary-default);
}

.LoginPage label {
  font-family: var(--secundary-font);
  color: var(--primary-default);
}

.LoginPage label > input {
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  border-style: hidden;
}

.LoginPage button {
  padding: 10px 50px;
  border-radius: 10px;
  border-style: solid;
  border-block-end-width: 2px;
  background-color: var(--secundary-dark);
  border-color: var(--contrast);
  color: black
}

.LoginPage button:enabled {
  color: var(--secundary-dark);
  background-color: var(--primary-light);
  border-color: var(--sencundary);
}