.Main {
  background: rgb(32,32,32);
  background: linear-gradient(0deg, rgba(32,32,32,1) 33%, rgba(103,47,173,1) 86%, rgba(177,117,250,1) 100%);
}

.Main h2 {
  font-family: var(--primary-font);
  color: var(--primary-default);
  text-align: center;
  font-size: 200%;
}

.Search {
  display: flex;
  justify-content: center;
}

.Search input {
  padding: 8px;
  border-radius: 10px;
}

.Search button {
  margin: 0 10px;
  padding: 5px 20px;
  border-radius: 10px;
  border-style: solid;
  border-block-end-width: 2px;
  background-color: var(--contrast);
  border-color: gray;
  color: gray
}

.Search button:enabled {
  color: var(--contrast);
  background-color: var(--primary-default);
  border-color: var(--primary-light);
}

.AwaitSearch {
  display: flex;
  justify-content: center;
  margin: auto 100px
}

.AwaitSearch p {
  color: aliceblue;
  font-family: var(--secundary-font);
  width: 400px;
  margin: auto 10px;
  min-width: 150px;
  font-size: 25px;
}

.Art {
  max-width: 600px;
  width: 40%;
  min-width: 400px;
}

 .Musicsbox {
  margin: 50px 25px;
 }

 
 .InfoAlbum {
   display: flex;
   justify-content: space-around;
   margin: 0 auto 10px auto;
   color: aliceblue;
   border-color: var(--primary-light);
   border-bottom-style:solid ;
   border-bottom-width: 1px;
 }

.LinkALbun {
  margin: auto;
  background-color: aquamarine;
  padding: 250px;
}
.Tittle{
  width: 400px;
}

.PlayButton {
  width: 80px;
  margin: auto 0;
  background-color: aliceblue;
  border-radius: 100%;
}

.CatError {
  display: flex;
  justify-content: space-around;
  margin: auto 20%;
}

.CatError p {
  font-family: var(--secundary-font);
  font-size: 30px;
  text-align: center;
  margin: auto;
  color: aliceblue;
}

.CatError img {
  max-width: 500px;
  text-align: center;
}
