.MusicsCards {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  border-bottom-style:solid ;
  color: var(--light);
  border-color: var(--contrast);
  font-family: var(--secundary-font);
  min-width: 400px;
  max-width: 60%;
}
