body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.cdnfonts.com/css/elektora');
@import url('https://fonts.cdnfonts.com/css/aabbcc');

:root {
  --primary-default:#FFFC4D;
  --primary-light: #FAF776;
  --contrast: rgb(24, 24, 24);
  --secundary-dark: #672FAD;
  --secundary: #B175FA;
  --light: rgb(255, 255, 227);

  --primary-font: 'Elektora', sans-serif;
  --secundary-font: 'AaBbCc', sans-serif;
}